{% load static%}

{% block extra_head %}
<link rel="stylesheet" href="{% static 'css/task_detail.css' %}">
{% endblock %}

{% block container %}
<form class="border">
    <h2 class="title">Назва: {{task.title}}</h2>
        <div class="form-info-description">
            <strong class="description">Опис:</strong><p></p>
             {{ task.description }}
        </div>
        <div class="container">
            <div class="form-info">
                <p class="status"><strong>Статус:</strong> {{ task.status }}</p>
            </div>
            <div class="form-info">
                <p class="priorety"><strong>Пріорітет:</strong> {{ task.priority}}</p>
            </div>
            <div class="form-info">
                <p class="creator"><strong>Творець:</strong> {{ task.creator}}</p>
            </div>
        </div>
</form>

<div class="button-container">
    <a href="{% url 'task_app:task-update' task.pk %}" class="task-button" style="background-color: rgb(255, 183, 0); color:black">✏ Редагувати</a>
    <a href="{% url 'task_app:task-delete' task.pk %}" class="task-button" style="background-color: rgba(255, 0, 0, 0.866); color:black">🗑 Видалити</a>
    <a href="{% url 'task_app:task-list'%}" class="task-button" style="background-color: gray; color:black">Повернутись</a>
</div>

</body>
{% endblock %}
